body{
background-color: bisque;
}
h1{
    font-family: monospace;
    color: black;
    text-align: center;
    margin-top: 20px;
    
   }



div{
    display: grid;
    align-items: center;
    margin-top: 20%;
}
.btn {
 padding: 10px 15px;
 background-color: rgb(81, 218, 99);
 border: 3px solid #fafafa;
 font-size: 16px;
 font-family: monospace;
 color: #090c0b;
 line-height: 1;
 border-radius: 5px;
 outline: none;
 cursor: pointer;
 transition: 0.3s;
 margin: auto;
 border-radius: 10px;
 display: block;
 margin-bottom: 20px;
}